In [35]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
from src.features.build_features import build_features
from src.features.future_features import build_future_features
import pandas as pd

In [32]:
df_clean = pd.read_csv("data/processed/cleaned_data.csv")

In [33]:
df_clean.head()

         DATE CUSTOMER  QUANTITY
0  2020-07-27  ARGALYS       1.0
1  2020-07-28  ARGALYS       3.0
2  2020-07-29  ARGALYS      14.0
3  2020-07-30  ARGALYS       2.0
4  2020-07-31  ARGALYS      13.0

In [27]:
features_df = build_features(
    df_clean,
    max_lag=30,
    roll_windows=[7, 14, 30],
    holiday_country="FR",
    holiday_subdiv_map=None,
    holiday_window=3
)

In [39]:
features_df.to_csv("data/processed/feature_data.csv", index=False)

In [37]:
future = build_future_features(df_clean, horizon=30)

In [38]:
future.head()

,DATE,CUSTOMER,dayofweek,month,dayofmonth,is_weekend,is_month_start,is_month_end,dow_sin,dow_cos,...,roll_min_7,roll_max_7,roll_mean_14,roll_std_14,roll_min_14,roll_max_14,roll_mean_30,roll_std_30,roll_min_30,roll_max_30
0,2023-05-23,ARGALYS,1,5,23,0,0,0,0.781831,0.623490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-05-24,ARGALYS,2,5,24,0,0,0,0.974928,-0.222521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-05-25,ARGALYS,3,5,25,0,0,0,0.433884,-0.900969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-05-26,ARGALYS,4,5,26,0,0,0,-0.433884,-0.900969,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-05-27,ARGALYS,5,5,27,1,0,0,-0.974928,-0.222521,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN